<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> FWI Prediction</h1>
    <form action="{{ url_for('predict_datapoint')}}" method="post">
        <label for="temperature">Temperature:</label>
        <input type="text" id="temperature" name="temperature" placeholder="Temperature" required="required" /> <br>
        <label for="rh">RH:</label>
        <input type="text" id="rh" name="rh" placeholder="Relative Humidity" required="required" /> <br>
        <label for="ws">Ws:</label>
        <input type="text" id="ws" name="ws" placeholder="Wind Speed" required="required" /> <br>
        <label for="rain">Rain:</label>
        <input type="text" id="rain" name="rain" placeholder="Rainfall" required="required" /> <br>
        <label for="ffmc">FFMC:</label>
        <input type="text" id="ffmc" name="ffmc" placeholder="Fine Fuel Moisture Code" required="required" /> <br>
        <label for="dmc">DMC:</label>
        <input type="text" id="dmc" name="dmc" placeholder="Drought Code" required="required" /> <br>
       
        <label for="isi">ISI:</label>
        <input type="text" id="isi" name="isi" placeholder="Initial Spread Index" required="required" /> <br>
       
       
        <label for="classes">Classes:</label>
        <input type="text" id="classes" name="classes" placeholder="Fire Danger Classes" required="required" /> <br>
        <label for="region">Region:</label>
        <input type="text" id="region" name="region" placeholder="Region" required="required" /> <br>
        <button type="submit">Predict</button>
    </form>
    <h2> 
        The FWI prediction is {{result}}
    </h2>
    
</body>
</html>